body {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  padding-top: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: sticky; /* Fixes the header at the top of the viewport */
  top: 0; /* Aligns the header to the top edge of the viewport */
  width: 100%; /* Ensures the header spans the full width of the viewport */
  background-color: #fff; /* Sets a background color to the header */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Adds a subtle shadow for better separation */
  z-index: 1000; /* Keeps the header above other content */
  padding: 10px 0; /* Adds vertical padding */
}
footer {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #1a2f33;
}

header p,
nav a {
  color: #527a7a;
}

nav a {
  text-decoration: none;
  color: #2a9d8f;
}

nav a:hover {
  text-decoration: underline;
}

main h2 {
  color: #2a9d8f;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

ul li,
ol li {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.signup-button {
  display: inline-block;
  background-color: #2a9d8f;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

footer p {
  font-size: 0.8em;
  color: #999;
}

/* 이미지 스타일 추가 */
img {
  max-width: 100%; /* 이미지가 부모 요소보다 클 경우 크기 조정 */
  height: auto; /* 이미지 비율 유지 */
  display: block; /* 중앙 정렬을 위해 블록 요소로 설정 */
  margin: 0 auto; /* 상하 마진 0, 좌우 마진 자동으로 중앙 정렬 */
}
